{
  "tabWidth": 2,
  "printWidth": 80,
  "trailingComma": "all",
  "singleQuote": true,
  "semi": true,
  "jsxBracketSameLine": true,
  "importOrder": ["^@[a-zA-Z0-9](.*)$", "^@/(.*)$", "^[./]"],
  "importOrderSeparation": true
}
