.calculatorContainer {
  height: 100vh;
  padding: 4em;

  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 960px) {
  .calculatorContainer {
    flex-direction: column;
  }
}

.calculator {
  padding: 0 1em;
  border-radius: 5px;
  flex-grow: 1;
  background: var(--color-secondary);
}

.calculator h2 {
  margin-top: 0;
  text-align: center;
  color: var(--color-white);
  padding: 0.5em 0;
}

.payoutBar {
  display: flex;
  flex-direction: row;
}

.payoutBar__combinedInputWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.payoutBar__inputs {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  gap: 1.5em;
}

.payoutBar__summary {
  color: #2f855a;
  font-weight: bold;
  font-size: 1.75em;
  display: flex;
  align-items: center;
}

.calculatorTable {
  padding: 0.825em;
}
