@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.custom-bg-bills {
  background-image: url('/background.jpg');
}

.number-appearance-none::-webkit-outer-spin-button,
.number-appearance-none::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.number-appearance-none {
  -moz-appearance: textfield;
}
