:root {
  --color-primary: #20242e;
  --color-secondary: #2e4561;
  --color-gray-1: #303436;
  --color-gray-2: #e8e6e3;
  --color-white: #ffffff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
