.numberInput__wrapper {
}

.numberInput__label {
  color: var(--color-gray-2);
  padding: 0 1em;
}

.numberInput__input {
  font-size: 1.35em;
  appearance: none;
  border: none;
  outline: none;
  padding: 3px;
  width: 5em;
  background: var(--color-gray-1);
  color: var(--color-gray-2);
}

.numberInput__input::-webkit-outer-spin-button,
.numberInput__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.numberInput__input {
  -moz-appearance: textfield;
}
